

body {
    text-align: center;
}

h1 {
    margin-bottom: 100px;
}

img {
   height: 200px;
}

p {
    margin-top: 2rem;
}

header {
    padding-bottom: 100px;
}

header .container {
    height: 200px;
    min-height: 100px;
}


section {
    background-color: #f9f9f9;
    margin-bottom: 100px;
}
section h1 {
    font-size: 2rem;
}
section h3 {
    font-size:1.3rem;
}

.why {
    margin-top: 3rem;
    background-color: #f9f9f9;
}
.why img {
    height: 250px;
    padding: 2rem;
    border-radius: 50%;
    background-color: #428bca;
}
.why h3 {
    margin-top: 2rem;
}
.why [class*="col-"] {
    padding-top: 3rem;
}

@media screen and (max-width: 1199px) and (min-width: 550px) {
    
    body {
        text-align: center;
    }
    
    header [class*="col-"] {
        padding: 2rem;
    }
    
    h1 {
        margin: 0 auto;
    }

    section h1 {
        padding: 3rem;
    }
}

@media screen and (max-width: 550px) {
    section img {
        padding: 1rem;
    }
}
